* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}


#root{
	display: flex;
	flex-wrap : wrap;
	width: 80%;
	margin-top: 80px;
	row-gap: 50px;
	column-gap: 35px;
	justify-content: center;
}

.card {
    text-align: center;
    width: 200px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


img{
	border: 1px solid black;
}

.name{
	font-weight: bold;
}

#desc{
	text-align: center;
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.hidden {
	display: none;	
	 opacity : 0; 
  }
  